.formularioFL {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 224, 224);
    margin: 3rem;
    padding: 3rem;
    border-radius: $border-radius;

    .formularioFL__contacto {
        margin: 1.5rem;
        width: 25rem;
        display: flex;
        flex-direction: column;
    }
}


.enviar {
    background-color: $color-rosa;
    width: 8rem;
    border-radius: $border-radius;
    margin: 2rem;
    transition: .5s;

    &:hover {
        background-color: $color-hover;
    }
}

