.text {
    margin: 2.3rem;
    text-align: center;
}

.blog {
    display: flex;
    margin: 3rem;
    padding: 2rem;
    background-color: rgb(245, 224, 224);
    color: $color-rosa;
    font-size: 1.7rem;
    border-radius: $border-radius;

    img {
        box-shadow: 10px 15px 20px rgb(238, 166, 238);
        border-radius: $border-radius;
    }
}

.left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

// .blog div p {
//     font-size: 1.7rem;
// }