header {
    background-color: $color-header-footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .logo img {
        width: 10rem;

        nav {
            padding: 1.5rem;
        }
    }
}

.navbarUL {
    list-style-type: none;
    display: flex;
    margin-top: 5rem;

    li {
        background-color: $color-rosa;
        border-radius: $border-radius;
        margin: 0 .8rem;
        padding: .3rem;
        transition: .5s;

        &:hover {
            background-color: $color-hover;
        }

        a {
            text-decoration: none;
            color: aliceblue;
            margin: 0 .5rem;
            padding: .5rem;
        }
    }
}

