.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-rosa;
    margin: 2rem;
}

.catalogo {
    display: flex;
    text-align: center;
    margin: 1rem;

    img {
        width: 100%;
    }
}


.catalogo button:hover {
    background-color: $color-hover;
}

.producto {
    background-color: rgb(245, 224, 224);
    width: 30rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;

    button {
        background-color: #FF7B9C;
        width: 8rem;
        border-radius: .3rem;
        margin: 2rem;

        img {
            width: 100%;
        }
    }
}