.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-rosa;
    margin: 2rem;
}

.catalogo {
    display: flex;
    text-align: center;
    margin: 1rem;

    img {
        width: 100%;
    }
}

.producto {
    background-color: rgb(245, 224, 224);
    width: 30rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: $border-radius;
    transition: .5s;

    &:hover {
        transform: scale(1.1);
    }

    button {
        background-color: $color-rosa;
        width: 8rem;
        border-radius: $border-radius;
        margin: 2rem;
        transition: .5s;

        &:hover {
            background-color: $color-hover;
        }

        img {
            width: 100%;
        }
    }
}