/*-------INDEX-------*/

@media screen and (max-width: 1400px) {
    .combo {
        flex-direction: column;
        align-items: center;
        width: 93%;
    }

    img {
        width: 20rem;
        padding: 1.5rem;
    }

    .carrusel {
        text-align: center;
        background-color: rgb(245, 224, 224);
        max-width: 600px;
    }
}

@media screen and (max-width: 480px) {
    .carrusel {
        text-align: center;
        background-color: rgb(245, 224, 224);
        max-width: 500px;
    }

    .combo {
        display: flex;
        flex-direction: column;
        width: 87%;
    }

    img {
        width: 20rem;
        padding: 1.5rem;
    }
}


/*-------PRODUCTOS-------*/

@media screen and (max-width: 1029px) {
    .catalogo {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 25rem;
    }
}

@media screen and (max-width: 480px) {
    .catalogo {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 18rem;
    }
}


/*-------FAQ-------*/

@media screen and (max-width: 1300px) {
    .grid .grid__img {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {

    .grid .grid__img {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid h3,
    p {
        font-size: 1rem;
    }

    .grid {
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
        grid-template-areas:
            "subtitle1"
            "paragraph1"
            "subtitle2"
            "paragraph2"
            "subtitle3"
            "paragraph3"
            "img"
        ;
    }
}

/*-------EMPRESA-------*/

@media screen and (max-width: 1000px) {

    .blog {
        flex-direction: column;
        align-items: center;
    }

    .presentacion {
        width: 100%;
    }

    .blog img {
        width: 90%;
    }

    .blog p {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .blog {
        flex-direction: column;
        align-items: center;
    }

    .presentacion {
        width: 100%;
    }

    .blog img {
        width: 80%;
    }

    .blog p {
        width: 100%;
    }
}

/*-------CONTACTO-------*/
@media screen and (max-width: 624px) {
    .formulario {
        width: 15rem;
        font-size: 1.3rem;
        margin: auto;
        margin-bottom: 3rem;
    }
}

/*-------404-------*/

@media screen and (max-width: 1100px) {
    .mensaje_numeros img {
        width: 13rem;
        margin-right: 2rem;
    }

    .mensaje_numeros p {
        font-size: 8rem;
    }

    .mensaje_numeros {
        justify-content: center;
    }

    .mensaje_numeros .izquierdo {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 832px) {
    .mensaje_numeros {
        justify-content: center;
    }

    .mensaje_numeros a img {
        width: 9rem;
        margin: 2rem 0rem 2rem 2rem;
    }

    .mensaje_numeros p {
        font-size: 6rem;
        margin-top: 2rem;
    }

    .mensaje_numeros .izquierdo {
        margin-right: 0rem;
        margin-left: 5rem;
    }

    .mensaje_numeros .derecho {
        
        margin-right: 2rem;
    }

    .mensaje_construccion p {
        font-size: 1.5rem;
    }

    .mensaje_construccion h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 585px) {
    .mensaje_construccion p {
        font-size: 1.1rem;
    }

    .mensaje_construccion h1 {
        font-size: 1.1rem;
    }

    .mensaje_numeros p {
        display: none;
    }

    .mensaje_numeros a img {
        width: 11rem;
        margin: 2rem 1rem 2rem 7rem;
    }
}

/*-------HEADER-------*/

@media screen and (max-width: 840px) { 
    header {
        padding: .5rem;
    }

    .logo img {
        width: 3rem;
    }

    .navbarUL {
        display: flex;
        flex-direction: column;
    }

    .navbarUL li {
        margin: .1rem;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: .5rem;
    }

    .logo img {
        width: 1rem;
    }

    .navbarUL {
        display: flex;
        flex-direction: column;
    }

    .navbarUL li {
        margin: .1rem;
    }
}

/*-------FOOTER-------*/

@media screen and (max-width: 830px) {
    footer {
        flex-direction: column;
    }

    footer div {
        margin: .5rem;
    }
}

@media screen and (max-width: 480px) {
    footer {
        flex-direction: column;
    }

    footer div {
        margin: .5rem;
    }
}