* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------------INDEX--------------------*/

/*-------HEADER-------*/

header {
    background-color: rgb(199, 183, 183);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.navbarUL {
    list-style-type: none;
    display: flex;
    margin-top: 5rem;
}

nav {
    padding: 1.5rem;
}

.navbarUL li {
    background-color: #FF7B9C;
    border-radius: .3rem;
    margin: 0 .8rem;
    padding: .3rem;
}


a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 .5rem;
    padding: .5rem;
}

.logo img {
    width: 10rem;
}

/*-------MAIN-------*/

.combo {
    padding: .3rem;
    display: flex;
    justify-content: space-between;
}

section img {
    width: 21rem;
}

.texto {
    margin: 2.3rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.carrusel {
    text-align: center;
    background-color: rgb(245, 224, 224);
    max-width: 1200px;
}

.carousel-control-prev {
    left: 20px;
}

.carru1 {
    width: 30rem;
    height: 30rem;
}

h5 {
    color: #FF7B9C;
    font-size: 2rem;
}


.combo {
    background-color: rgb(245, 224, 224);
    padding: 2rem;
    margin: 2rem;
}

.combo img {
    width: 20rem;
    padding: 1.5rem;
}


/*--------------------PRODUCTOS--------------------*/

.product {
    text-align: center;
    margin-top: 0;
}

.product__text {
    margin: 0 .1rem;
}

.product__text p {
    color: rgb(216, 83, 143);
    padding: .3rem;
}

.product img {
    width: 18rem;
    padding: 1.5rem;
}

.product__text a {
    background-color: rgb(216, 83, 143);
    border-radius: .3rem;
    margin-top: .3rem;
}

/*--------------------FAQ--------------------*/

.text {
    margin: 3rem;
}

.grid__img {
    width: 23rem;
}

.grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
        "subtitle1  ..."
        "paragraph1 ..."
        "subtitle2  ..."
        "paragraph2 ..."
        "subtitle3  ..."
        "paragraph3 img"
        "...        img"
    ;
}

.grid {
    background-color: rgb(245, 224, 224);
    padding: 2rem;
    margin: 3rem;
    color: #FF7B9C;
    font-size: 1.5rem;
}

.grid .grid__subtitle1 {
    grid-area: subtitle1;
}

.grid .grid__paragraph1 {
    grid-area: paragraph1;
}

.grid .grid__subtitle2 {
    grid-area: subtitle2;
}

.grid .grid__paragraph2 {
    grid-area: paragraph2;
}

.grid .grid__subtitle3 {
    grid-area: subtitle3;
}

.grid .grid__paragraph3 {
    grid-area: paragraph3;
}

.grid .grid__img {
    grid-area: img;
}

.grid h3,
p {
    padding: .5rem;
}

.grid p {
    margin-bottom: 2rem;
}


/*--------------------EMPRESA--------------------*/

.text {
    margin: 2.3rem;
    text-align: center;
}

.blog {
    display: flex;
    margin: 3rem;
    padding: 2rem;
    background-color: rgb(245, 224, 224);
    color: #FF7B9C;
    font-size: 1.5rem;
}

.left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}



/*--------------------CONTACTO--------------------*/

.formularioFL {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 224, 224);
    margin: 7rem;
    padding: 3rem;

}

.formularioFL__contacto {
    margin: 1.5rem;
    width: 25rem;
}

.enviar {
    background-color: rgb(216, 83, 143);
    width: 8rem;
    border-radius: .3rem;
    margin: 2rem;
}

/* .contact {
    margin-top: 2rem;
}

input {
    display: block;
    padding: .3rem;
    width: 70%;
    align-items: center;
}

form {
    border: .4rem;
    display: block;
    justify-content: center;
    margin: 6rem;
    margin-left: 20rem;  
    color:rgb(216, 83, 143);
}

.submit {
    background-color:rgb(216, 83, 143);
    width: 8rem;
    margin-top: 2rem;
    margin-left: 38.6rem;
    border-radius: .3rem;
    color: aliceblue;
}

.message input {
    height: 5rem;
} */

/*--------------------FOOTER--------------------*/

footer {
    background-color: rgb(199, 183, 183);
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

/*--------------------RESPONSIVE--------------------*/

/*-------FAQ-------*/

@media screen and (max-width: 480px) {
    footer {
        flex-direction: column;
    }

    footer div {
        margin: .5rem;
    }

    .navbarUL {
        flex-direction: column;
    }

    .logo img {
        width: 2rem;
    }

    .navbarUL li {
        border-radius: .3rem;
        margin: .2rem;
        padding: .1rem;
        width: 6rem;
    }
    

    .grid .grid__img {
        width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid {
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
        grid-template-areas:
            "subtitle1"
            "paragraph1"
            "subtitle2"
            "paragraph2"
            "subtitle3"
            "paragraph3"
            "img"
        ;
    }

}